<div class="card">
  <div class="animated fadeIn card-image-container" [routerLink]="['/users', this.user.id]">
    <img src="../../../assets/user-image.jpg" class="card-img-top" alt="User Image">
  </div>
  <div class="card-body">
    <a class="user-title-link" [routerLink]="['/users', this.user.id]">

    </a>
    <ul>
      <li><span class="info-name">Username :</span> {{user.name}}</li>
      <li><span class="info-name">Email :</span> {{user.email}}</li>
      <li><span class="info-name">Registered :</span> {{user.createdOn | date}}</li>
    </ul>
    <button type="button" class="btn btn-primary" [routerLink]="['/users', this.user.id]">User profile</button>
    <button type="button" class="btn btn-primary" (click)="addFriend(user.id)">Add to Team</button>
  </div>
</div>