.comment {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 20px 30px;
  margin-bottom: 15px;
  position: relative;
}

.comment-details {
  margin-top: 10px;
  font-size: 0.9rem;
}

.comment-author-link {
  color: #28a745;
}

.comment-author {
  margin-right: 25px;
}

.user-icon, .date-icon {
  margin-right: 6px;
  font-size: 90%;
}

.comment-likes-dislikes {
  position: absolute;
  right: 30px;
  top: 26px;
  text-align: center;
  font-size: 0.9rem;
}

.comment-likes-dislikes > div {
  display: inline-block;
  padding: 0 20px;
}

@media (max-width: 767.98px) {
  .comment-likes-dislikes {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    margin-top: 15px;
  }

  .likes-container > div, .dislikes-container > div {
    display: inline-block;
  }

  .comment-likes-dislikes > div {
    padding: 0;
  }

  .likes-container {
    margin-right: 20px;
  }

  .likes-icon, .dislikes-icon {
    margin-right: 6px;
  }
}