footer {
  background: #2775ff;
  color: #ffffff;
  padding: 20px 0;
  font-size: 14px;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height:[footer-height] 
}

.top-arrow {
  margin-left: 10px;
}

.text {
  margin-top: 9px;
}

.top-link:hover {
  color: #2775ff;
  background-color: #ffffff;
  cursor: pointer;
}

.top-link {
  color: #ffffff;
}

@media (max-width: 767.98px) {
  footer .row > div {
    text-align: center !important;
  }
}