header {
  background-color: #2775ff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

header .nav-link {
  margin-right: 50px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-nav {

  margin-left: 80px;
}



.user-icon {
  margin-right: 6px;
  font-size: 90%;
}



.btn-menu {
  color: #ffffff;
  margin-right: 30px;
}

.btn-menu:hover {
  color: #2775ff;
  background-color: #ffffff;
}

.btn-menu:focus {
  color: #2775ff;
  background-color: #ffffff;
}

.btn-logout {
  color: #ffffff;
  margin-right: 0px;
}

.btn-logout:hover {
  color: #2775ff;
  background-color: #ffffff;
}






