<app-breadcrumbs-search [showCreatePostButton]="false"></app-breadcrumbs-search>
<section id="create-post">
    <div class="animated fadeIn container">
      <div class="row">
        <div class="col-sm-12">
          <div class="create-post-form">
            <h4 class="create-post-header"><span class="create-post-icon fas fa-pencil-alt"></span>Create New Team</h4>
            <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Team Name" formControlName="name"
                  [class.is-valid]="this.createPostForm.controls['name'].valid && this.createPostForm.controls['name'].touched"
                  [class.is-invalid]="this.createPostForm.controls['name'].invalid && this.createPostForm.controls['name'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['name'].invalid && this.createPostForm.controls['name'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['name'].errors.required">Team name is required!</small>
                  <small *ngIf="this.createPostForm.controls['name'].errors.minlength">Team name must be at least 4 characters long!</small>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="this.createPostForm.invalid">Create Team</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>