<div class="post">
  <a class="post-title-link" [routerLink]="['/posts', post.id]">
    <h4 *ngIf="post.name" class="post-title">{{post.name}}</h4>
    <h4 *ngIf="post.title" class="post-title">{{post.title}}</h4>
  </a>
  <div class="post-description" *ngIf="showContent" [froalaView]="post.description"></div>
  <div class="post-details">

    <span class="post-created" ngbTooltip="{{post.createdOn | date:'medium'}}">
        <i class="date-icon fas fa-calendar-alt"></i>{{post.createdOn | timeAgo}}
    </span>
 
    <span *ngIf="!!post.tags" class="post-tags" ngbTooltip="Tags">
      <i class="tag-icon fas fa-tag"></i>{{post.tags}}
  </span>
  <span class="post-status" ngbTooltip="Status">
    <i *ngIf="post.status == 'Pending'" class="tag-icon fas fa-person-booth"></i>
    <i *ngIf="post.status == 'Accepted'" class="tag-icon fas fa-check-circle"></i>
    <i *ngIf="post.status == 'Rejected'" class="tag-icon fas fa-times-circle"></i>
    {{post.status}}
</span>
    <app-edit-delete
      [applyTo]="'posts'"
      [item]="post"
      (updatedItem)="updateItem($event)"
      (deletedItem)="deleteItem()"
      *ngIf="post.assigneeId === loggedInUser"
    ></app-edit-delete>
  </div>

</div>
