.item-likes-dislikes {
  position: absolute;
  right: 30px;
  top: 26px;
  text-align: center;
  font-size: 0.9rem;
}

.item-likes-dislikes > div {
  display: inline-block;
  padding: 0 20px;
}

.likes-icon, .dislikes-icon, .likes-count, .dislikes-count {
  display: block;
}

.ld-button {
  background: none;
  border: none;
  padding: 0;
}

@media (max-width: 767.98px) {
  .item-likes-dislikes {
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    margin-top: 15px;
  }

  .likes-container > button > span, .dislikes-container > button > span {
    display: inline-block;
  }

  .item-likes-dislikes > div {
    padding: 0;
  }

  .likes-container {
    margin-right: 20px;
  }

  .likes-icon, .dislikes-icon {
    margin-right: 6px;
  }
}