<div class="item-likes-dislikes">
  <div class="likes-container">
    <button class="ld-button" (click)="itemLike()">
      <span class="likes-icon">
        <span class="far fa-thumbs-up"></span>
      </span>
      <span class="likes-count">{{itemLikes}} likes</span>
    </button>
  </div>
  <div class="dislikes-container">
    <button class="ld-button" (click)="itemDislike()">
      <span class="dislikes-icon">
        <span class="far fa-thumbs-down"></span>
      </span>
      <span class="dislikes-count">{{itemDislikes}} dislikes</span>
    </button>
  </div>
</div>