<app-breadcrumbs-search [showCreatePostButton]="false"></app-breadcrumbs-search>
<section id="create-post">
    <div class="animated fadeIn container">
      <div class="row">
        <div class="col-sm-12">
          <div class="create-post-form">
            <h4 class="create-post-header"><span class="create-post-icon fas fa-pencil-alt"></span>Create Review Request</h4>
            <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" formControlName="title"
                  [class.is-valid]="this.createPostForm.controls['title'].valid && this.createPostForm.controls['title'].touched"
                  [class.is-invalid]="this.createPostForm.controls['title'].invalid && this.createPostForm.controls['title'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['title'].invalid && this.createPostForm.controls['title'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['title'].errors.required">Title is required!</small>
                  <small *ngIf="this.createPostForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
                </div>
              </div>

              <div class="form-group">
              <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tags" formControlName="comments"
                  [class.is-valid]="this.createPostForm.controls['comments'].valid && this.createPostForm.controls['comments'].touched"
                  [class.is-invalid]="this.createPostForm.controls['comments'].invalid && this.createPostForm.controls['comments'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['comments'].invalid && this.createPostForm.controls['title'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['comments'].errors.required">Tags is required!</small>
                  <small *ngIf="this.createPostForm.controls['comments'].errors.minlength">Tags must be at least 3 characters long!</small>
                </div>
              </div>

              <div class="form-group">
                <input input type="text" value="{{ reviewers }}" class="form-control" placeholder="Reviewers" formControlName="reviewers"
                  [class.is-valid]="this.createPostForm.controls['reviewers'].valid && this.createPostForm.controls['reviewers'].touched"
                  [class.is-invalid]="this.createPostForm.controls['reviewers'].invalid && this.createPostForm.controls['reviewers'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createPostForm.controls['reviewers'].invalid && this.createPostForm.controls['reviewers'].touched"
                >
                  <small *ngIf="this.createPostForm.controls['reviewers'].errors.required">Reviewers is required!</small>
                  <small *ngIf="this.createPostForm.controls['reviewers'].errors.minlength">Reviewers must be at least 3 characters long!</small>
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="this.createPostForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>