<span class="edit-delete-container" *ngIf="applyTo === 'posts'">
  <span class="edit-item" (click)="open(editPost)">
    <span class="edit-icon far fa-edit"></span>Edit
  </span>
  <span class="delete-item" (click)="open(deletePost)">
    <span class="delete-icon far fa-trash-alt"></span>Delete
  </span>
</span>

<span class="edit-delete-container" *ngIf="applyTo === 'comments'">
  <span class="edit-item" (click)="open(editComment)">
    <span class="edit-icon far fa-edit"></span>Edit
  </span>
  <span class="delete-item" (click)="open(deleteComment)">
    <span class="delete-icon far fa-trash-alt"></span>Delete
  </span>
</span>

<ng-template #editPost let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="postEditForm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Post Title" formControlName="title"
          [class.is-valid]="this.postEditForm.controls['title'].valid && this.postEditForm.controls['title'].touched"
          [class.is-invalid]="this.postEditForm.controls['title'].invalid && this.postEditForm.controls['title'].touched"
        >
        <div class="invalid-feedback"
          *ngIf="this.postEditForm.controls['title'].invalid && this.postEditForm.controls['title'].touched"
        >
          <small *ngIf="this.postEditForm.controls['title'].errors.required">Title is required!</small>
          <small *ngIf="this.postEditForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
        </div>
      </div>
      <div class="form-group">
        <textarea [froalaEditor]="options" class="form-control" rows="5" placeholder="Write your post here..." formControlName="content"
          [class.is-valid]="this.postEditForm.controls['content'].valid && this.postEditForm.controls['content'].touched"
          [class.is-invalid]="this.postEditForm.controls['content'].invalid && this.postEditForm.controls['content'].touched"
        ></textarea>
        <div class="invalid-feedback"
          *ngIf="this.postEditForm.controls['content'].invalid && this.postEditForm.controls['content'].touched"
        >
          <small *ngIf="this.postEditForm.controls['content'].errors.required">Content is required!</small>
          <small *ngIf="this.postEditForm.controls['content'].errors.minlength">Content must be at least 3 characters long!</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary update-button"
        (click)="updateItem()"
        (click)="modal.close()"
        [disabled]="this.postEditForm.invalid"
      >Update Post</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close()">Cancel</button>
    </form>
  </div>
</ng-template>

<ng-template #deletePost let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <p class="delete-confirmation-text">Are you sure you want to delete this post?</p>
      <button type="submit" class="btn btn-primary delete-button" (click)="deleteItem()" (click)="modal.close()">Delete Post</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close()">Cancel</button>
    </form>
  </div>
</ng-template>

<ng-template #editComment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="commentEditForm">
      <div class="form-group">
        <textarea [froalaEditor]="options" class="form-control" rows="5" placeholder="Write your comment here..." formControlName="message"
          [class.is-valid]="this.commentEditForm.controls['message'].valid && this.commentEditForm.controls['message'].touched"
          [class.is-invalid]="this.commentEditForm.controls['message'].invalid && this.commentEditForm.controls['message'].touched"
        ></textarea>
        <div class="invalid-feedback"
        *ngIf="this.commentEditForm.controls['message'].invalid && this.commentEditForm.controls['message'].touched"
        >
          <small *ngIf="this.commentEditForm.controls['message'].errors.required">Comment is required!</small>
          <small *ngIf="this.commentEditForm.controls['message'].errors.minlength">Comment must be at least 3 characters long!</small>
        </div>
      </div>
      <button type="submit" class="btn btn-primary update-button"
        (click)="updateItem()"
        (click)="modal.close()"
        [disabled]="this.commentEditForm.invalid"
      >Update Comment</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close()">Cancel</button>
    </form>
  </div>
</ng-template>

<ng-template #deleteComment let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <p class="delete-confirmation-text">Are you sure you want to delete this comment?</p>
      <button type="submit" class="btn btn-primary delete-button" (click)="deleteItem()" (click)="modal.close()">Delete Comment</button>
      <button type="submit" class="btn btn-primary" (click)="modal.close()">Cancel</button>
    </form>
  </div>
</ng-template>