<section id="breadcrumbs">
  <div class="animated fadeIn container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <app-create-post-button *ngIf="showCreatePostButton"></app-create-post-button>
      </div>
      <div class="col-sm-4 text-center">
        <app-create-team-button *ngIf="showCreateTeamButton"></app-create-team-button>
      </div>
      <div class="col-sm-4 text-right">
        <app-search-box *ngIf="showSearch"></app-search-box>
      </div>

    </div>
  </div>
</section>